
html,
body {
  font-family: 'Helvetica', Arial, sans-serif;
  margin: 0px; 
  padding: 0px; 
  width: 100%; 
  height: 100%;
  overflow: hidden;
  background: #000000;
}
a {
  color: #3399ff;
  text-decoration: none;
}
#wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#top {
  background: url('../images/bg.jpg') no-repeat center top fixed;
  background-size: 100% auto;
  padding-top: 7.97%;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: opacity 2000ms;
  -moz-transition: opacity 2000ms;
  -ms-transition: opacity 2000ms;
  -o-transition: opacity 2000ms;
  transition: opacity 2000ms;
}
#bottom {
  background: #363637 url('../images/btm.jpg');
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  left: 0;
  overflow: scroll;
  box-shadow: 0px -4px 5px #000;
  -webkit-transition: top 800ms ease-in;
  -moz-transition: top 800ms ease-in;
  -ms-transition: top 800ms ease-in;
  -o-transition: top 800ms ease-in;
  transition: top 800ms ease-in;
}

.videobox {
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  opacity: 0;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.1);
  -webkit-transition: opacity 1500ms;
  -moz-transition: opacity 1500ms;
  -ms-transition: opacity 1500ms;
  -o-transition: opacity 1500ms;
  transition: opacity 1500ms;
}
.btn-container {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 25px;
  position: relative;
}
.btn {
  color: #4E4E4E;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  opacity: 0;
  -webkit-transition: opacity 2400ms;
  -moz-transition: opacity 2400ms;
  -ms-transition: opacity 2400ms;
  -o-transition: opacity 2400ms;
  transition: opacity 2400ms;
}
.logo {
  margin-left: 20%;
}
.divider {
  margin-left: 20%;
  margin-right: 20%;
  display: block;
  position: relative;
  margin-bottom: 16px;
}
hr {
  border: 1px solid #818181;
}
.overlaytext {
  margin-top: 2%;
  margin-right: 20%;
  margin-left: 20%;
  top: 0;
  left: 0;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
}
.overlaytext h4 {
  color: #818181;
  font-family: 'Helvetica Bold', Arial, sans-serif;
  font-weight: 400;
  margin-top:34px;
  margin-bottom:34px;
  line-height: 22px;
  font-size: 20px;
}
.overlaytext p {
  color: #818181;
  font-family: 'Helvetica Regular', Arial, sans-serif;
  margin-top:28px;
  margin-bottom:28px;
  line-height: 18px;
  font-size: 14px;
}
.totop {
  opacity: 1 !important;
  top: 0 !important;
  z-index: 1001;
}
.fade {
  opacity: 0;
}
#fadeit {
  background: rgb(0, 0, 0, 0);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}
.hide {
  display: none;
}
.down-arrow {
  color: #ecf0f1;
  position: relative;
  bottom: 0;
}
.up-arrow {
  color: #818181;
}
.btn:hover,
.btn:focus,
.down-arrow:hover,
.down-arrow:focus,
.up-arrow:hover,
.up-arrow:focus {
  color: #cccccc;
  outline: none;
  text-decoration: none;
}


/*///////////////////////
// RESPONSIVE STUFF
///////////////////////*/

/*For Desktop*/
@media (min-width: 1001px) and (max-width: 1200px) {
  #top {
    padding-top: 9.55%;
    padding-left: .06%;
    background-size: 120% auto;
  }
  .videobox {
    width: 60%;
  }
}

@media (min-width: 801px) and (max-width: 1000px) {
  #top {
    padding-top: 11.85%;
    padding-left: 0%;
    background-size: 150% auto;
  }
  .videobox {
    width: 75%;
  }
  .logo {
    margin-left: 12%;
  }
  .divider, .overlaytext {
    margin-left: 12%;
    margin-right: 12%;
  }
}

@media (min-width: 701px) and (max-width: 800px) {
  #top {
    padding-top: 13%;
    padding-left: .2%;
    background-size: 165% auto;
  }
  .videobox {
    width: 83%;
  }
  .logo {
    margin-left: 8%;
  }
  .divider, .overlaytext {
    margin-left: 8%;
    margin-right: 8%;
  }
}

@media (max-width: 700px) {
  #top {
    padding-top: 16%;
    padding-left: .25%;
    background-size: 198.5% auto;
  }
  .videobox {
    width: 100%;
  }
  .logo {
    margin-left: 4%;
  }
  .divider, .overlaytext {
    margin-left: 4%;
    margin-right: 4%;
  }
}

@media (max-width: 600px) {
  /* Bottom Text Appear No Scroll */
}